<mat-card class="container">
  <mat-card-content>
    <h1>Maniobras</h1>
    <mat-grid-list class="row" cols="2" rowHeight="103px">

      <mat-grid-tile [colspan]="2">

        <app-input-autocomplete style="width: 96%;" [label]="form.numeroConsigna.label"
          [value]="form.numeroConsigna.value" [name]="form.numeroConsigna.name"
          [messages]="form.numeroConsigna.messages" (valueChange)="setData(form.numeroConsigna.name, $event)"
          [urlApi]="form.numeroConsigna.url">
        </app-input-autocomplete>
        <div style="padding-bottom:20px">
          <button mat-mini-fab color="accent" (click)="dialogConsigna()" matTooltip="Consultar"
            matTooltipClass="custom-tooltip">
            <mat-icon style="color: #FFFFFF">search</mat-icon>
          </button>
        </div>

      </mat-grid-tile>


      <mat-grid-tile [colspan]="2">

        <app-input-text-area style="width: 98%;" class="input" [label]="form.descripcion.label"
          [value]="form.descripcion.value" [name]="form.descripcion.name" [messages]="form.descripcion.messages"
          (valueChange)="setData(form.descripcion.name, $event)">
        </app-input-text-area>


      </mat-grid-tile>

      
    <app-input-file [placeholder]="'Ingrese el documento a adjuntar en la consigna'"
         [typeExtension]="'pdf'" [maxSize]="'5'"> -->          
   </app-input-file>


    </mat-grid-list>

    <button  mat-raised-button color="primary" style="margin-left: 20px; margin-top: 10px;">
      <span style="color: #FFF">Guardar</span>
    </button>

  </mat-card-content>
</mat-card>
