<mat-card class="container">
  <mat-card-content>
    <h1>Trabajos de oportunidad</h1>
    <mat-grid-list class="row" cols="2" rowHeight="103px">

      <mat-grid-tile [colspan]="2">

        <app-input-autocomplete style="width: 96%;" [label]="form.numeroConsigna.label"
          [value]="form.numeroConsigna.value" [name]="form.numeroConsigna.name"
          [messages]="form.numeroConsigna.messages" (valueChange)="setData(form.numeroConsigna.name, $event)"
          [urlApi]="form.numeroConsigna.url">
        </app-input-autocomplete>
        <div style="padding-bottom:20px">
          <button mat-mini-fab color="accent" (click)="dialogConsigna()" matTooltip="Consultar" matTooltipClass="custom-tooltip">
            <mat-icon style="color: #FFFFFF">search</mat-icon>
          </button>
        </div>

      </mat-grid-tile>



      <mat-grid-tile [colspan]="2">

        <mat-form-field class="input" style="width: 95%;">

          <mat-label>{{form.elemnto.label}}</mat-label>
          <mat-select [(ngModel)]="form.elemnto.value">
            <mat-option *ngFor="let value of dataControls?.elemento;" [value]="value.codigo">
              {{value.nombre}}
            </mat-option>
          </mat-select>

        </mat-form-field>


      </mat-grid-tile>


      <mat-grid-tile [colspan]="2">

        <app-input-text-area style="width: 98%;" class="input" [label]="form.trabajo.label" [value]="form.trabajo.value"
          [name]="form.trabajo.name" [messages]="form.trabajo.messages"
          (valueChange)="setData(form.trabajo.name, $event)">
        </app-input-text-area>


      </mat-grid-tile>

      <mat-grid-tile [colspan]="2">

        <app-input-text-area style="width: 98%;" class="input" [label]="form.medidaSeguridad.label"
          [value]="form.medidaSeguridad.value" [name]="form.medidaSeguridad.name"
          [messages]="form.medidaSeguridad.messages" (valueChange)="setData(form.medidaSeguridad.name, $event)">
        </app-input-text-area>


      </mat-grid-tile>

      <mat-grid-tile>

        <app-input-text style="width: 96%;" class="input" [label]="form.jefeTrabajo.label"
          [value]="form.jefeTrabajo.value" [name]="form.jefeTrabajo.name" [messages]="form.jefeTrabajo.messages"
          (valueChange)="setData(form.jefeTrabajo.name, $event)">
        </app-input-text>


      </mat-grid-tile>

      <mat-grid-tile>

        <app-input-text style="width: 96%;" class="input" [label]="form.telefono.label" [value]="form.telefono.value"
          [name]="form.telefono.name" [messages]="form.telefono.messages"
          (valueChange)="setData(form.telefono.name, $event)">
        </app-input-text>


      </mat-grid-tile>

    </mat-grid-list>

    <button  mat-raised-button color="primary" style="margin-left: 20px; margin-top: 10px;">
      <span style="color: #FFF">Guardar</span>
    </button>

    <div style="padding: 10px;">
      <app-table-trabajo-oportunidad [data]="dataTrabajo"></app-table-trabajo-oportunidad>
    </div>

  </mat-card-content>
</mat-card>
