<mat-card class="container">

  <mat-card-content>
    <h1>Reportes</h1>

    <mat-grid-list cols="3" rowHeight="104px">

      <mat-grid-tile [colspan]="3">
        <mat-form-field>
          <mat-label>{{form.reporte.required ? form.reporte.label+' *':form.reporte.label}}
          </mat-label>
          <mat-select id="ddlReporte" (valueChange)="setData(form.reporte.name, $event); validarReporte()"
            [(ngModel)]="form.reporte.value" style="padding-top: 5px;padding-bottom: 5px;">
            <mat-option *ngFor="let value of dataControls?.reporte;" [value]="value.codigo">
              {{value.nombre}}
            </mat-option>
          </mat-select>
          <mat-hint style="color: red" *ngIf="form.reporte.messages">{{form.reporte.messages}}
          </mat-hint>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list cols="3" rowHeight="104px">
      <mat-grid-tile *ngIf="form.numeroConsigna.visible">
        <app-input-text style="width: 95%;"
          class="input"
          (keyup.enter)="consultar()"
          [label]="form.numeroConsigna.label"
          [value]="form.numeroConsigna.value"
          [name]="form.numeroConsigna.name"
          [messages]="form.numeroConsigna.messages"
          [upperCase]="true"
          (valueChange)="setData(form.numeroConsigna.name, $event)">
        </app-input-text>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="form.estadoConsigna.visible">
        <mat-form-field>
          <mat-label>{{form.estadoConsigna.required ? form.estadoConsigna.label+' *':form.estadoConsigna.label }}</mat-label>
          <mat-select [(ngModel)]="form.estadoConsigna.value" style="padding-top: 5px;padding-bottom: 5px;">
            <mat-option *ngFor="let value of dataControls?.estadoConsignacion;" [value]="value.id">
              {{value.nombre}}
            </mat-option>
          </mat-select>
          <mat-hint style="color: red" *ngIf="form.estadoConsigna.messages">{{form.estadoConsigna.messages}}</mat-hint>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="form.fechaInicio.visible">
        <app-datepicker [label]="form.fechaInicio.label" [value]="form.fechaInicio.value" [name]="form.fechaInicio.name"
          [required]="form.fechaInicio.required"
          [messages]="form.fechaInicio.messages" [id]="form.fechaInicio.name"
          (valueChange)="setData(form.fechaInicio.name, $event)"></app-datepicker>
      </mat-grid-tile>
      
      <mat-grid-tile *ngIf="form.fechaFin.visible">
        <app-datepicker [label]="form.fechaFin.label" [value]="form.fechaFin.value" [name]="form.fechaFin.name"
          [required]="form.fechaFin.required"
          [messages]="form.fechaFin.messages" [id]="form.fechaFin.name"
          (valueChange)="setData(form.fechaFin.name, $event)"></app-datepicker>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="form.solicitadaTercero.visible">
          <mat-form-field>
              <mat-label>{{form.solicitadaTercero.required ? form.solicitadaTercero.label+' *' : form.solicitadaTercero.label}}</mat-label>
              <mat-select [disabled]="form.solicitadaTercero.disabled" [(ngModel)]="form.solicitadaTercero.value" 
              (ngModelChange)="validarSelectSolicitaTercero()" style="padding-top: 5px;padding-bottom: 5px;">
                  <mat-option *ngFor="let value of dataControls?.solicitadaTercero;" [value]="value.id">
                      {{ value.nombre }}
                  </mat-option>
              </mat-select>
              <mat-hint style="color: red" *ngIf="form.solicitadaTercero.messages">{{form.solicitadaTercero.messages}}</mat-hint>
          </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="form.tipoTercero.visible">
        <mat-form-field>
            <mat-label>{{ form.tipoTercero.required ? form.tipoTercero.label+' *' : form.tipoTercero.label}}</mat-label>
            <mat-select [disabled]="form.tipoTercero.disabled" [(ngModel)]="form.tipoTercero.value" 
            (ngModelChange)="validarTipoTercero()"
             style="padding-top: 5px;padding-bottom: 5px;">
                <mat-option *ngFor="let value of dataControls?.tipoTerceros;" [value]="value.id">
                    {{value.nombre}}
                </mat-option>
            </mat-select>
            <mat-hint style="color: red" *ngIf="form.tipoTercero.messages">{{form.tipoTercero.messages}}</mat-hint>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="form.terceroNumeroContrato.visible">
        <app-input-text style="width: 85%;"
        class="input"
            [label]="form.terceroNumeroContrato.label"
            [value]="form.terceroNumeroContrato.value"
            [name]="form.terceroNumeroContrato.name"
            [messages]="form.terceroNumeroContrato.messages"
            [required]="form.terceroNumeroContrato.required"
            [disable]="form.terceroNumeroContrato.disabled"
            [length]="form.terceroNumeroContrato.length"
            (valueChange)="setData(form.terceroNumeroContrato.name, $event)">
        </app-input-text>
      </mat-grid-tile> 

      <mat-grid-tile *ngIf="form.terceroAnio.visible">
          <mat-form-field>
              <mat-label>{{ form.terceroAnio.required ? form.terceroAnio.label+' *' : form.terceroAnio.label}}</mat-label>
              <mat-select [disabled]="form.terceroAnio.disabled" [(ngModel)]="form.terceroAnio.value" 
              style="padding-top: 5px;padding-bottom: 5px;">
                  <mat-option *ngFor="let value of dataControls?.selectYear;" [value]="value">
                      {{value}}
                  </mat-option>
              </mat-select>
              <mat-hint style="color: red" *ngIf="form.terceroAnio.messages">{{form.terceroAnio.messages}}</mat-hint>
          </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <button mat-raised-button color="primary" (click)="consultar()" style="margin-left: 20px; margin-top: 10px;">
      <span style="color: #FFF">Buscar</span>
    </button>

    <button mat-raised-button (click)="limpiar()"
      style="background-color:lightslategrey;margin-left: 20px; margin-top: 10px;">
      <span style="color: #FFF">Limpiar</span>
    </button>

    <div style="margin-left: 95%; margin-top: 10px;">
      <app-generate-excel [data]="dataExcel" [dataHeader]="dataHeader" [nameDocument]="'Reporte'"></app-generate-excel>
    </div>
  </mat-card-content>

</mat-card>

<div *ngIf="data.length > 0 && form.reporte.value != 'REjecu'">
  <app-table-programacion [data]="data" [setDisplayedColumns]="displayedColumns" [tableHeader]="dataHeader"></app-table-programacion>
</div>

<div style="padding: 10px;" *ngIf="data.length > 0 && form.reporte.value == 'REjecu'">
  
</div>