<div>
  <h2 style="text-align: center;">Documentos adjuntos
    <button (click)="close()"
            mat-mini-fab color="accent"
            style="float: right;" matTooltip="Cerrar">
      <mat-icon style="color: #FFFFFF;">close</mat-icon>
    </button>
  </h2>

</div>

<div>

  <table class="custom-table">
    <thead>
    <tr>
      <th>Archivo</th>
      <th>Observación</th>
    </tr>
    </thead>
    <tbody *ngIf="data.length === 0">
    <tr>
      <td colspan="2">No hay registros...</td>
    </tr>
    </tbody>
    <tbody *ngIf="data.length > 0">
    <tr *ngFor="let value of data;">
      <td><a [href]="env.urlPublicFiles + value.public_path" target="_blank">{{value?.archivo}}</a></td>
      <td>{{value?.observacion}}</td>
    </tr>
    </tbody>
  </table>

</div>
