<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="title">
      <div class="container-left" *ngIf="auth.getLogin()">
        <span class="material-icons btn-logout"
          matTooltip="Inicio"
          matTooltipClass="custom-tooltip"
          [routerLink]="['/dashboard']"
          >home</span>
      </div>
      <div>
        <a [routerLink]="['/dashboard']" style="cursor: pointer; text-decoration: none; color: #FFFFFF;">{{appName}}</a>
      </div>

      <div *ngIf="auth.getLogin()" class="container-right">
        <span class="name-user">{{auth.getNameUser()}}</span>
          <span #notificacion style="padding-right: 15px;"  class="material-icons btn-logout" matBadgeSize="small" matBadge="10" matBadgePosition="above before" >
            notifications 
          </span>

        <span (click)="logout()" class="material-icons btn-logout"
          matTooltip="Salir"
          matTooltipClass="custom-tooltip"
        >exit_to_app</span>
      </div>

    </div>

  </mat-toolbar-row>
</mat-toolbar>
