<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="title">
      <div class="container-left" *ngIf="auth.getLogin()">
        <span class="material-icons btn-logout"
          matTooltip="Inicio"
          matTooltipClass="custom-tooltip"
          [routerLink]="['/dashboard']"
          >home</span>
      </div>
      <div>
        <a [routerLink]="['/dashboard']" style="cursor: pointer; text-decoration: none; color: #FFFFFF;">{{appName}}</a>
      </div>

      <div *ngIf="auth.getLogin()" class="container-right">
        <span class="name-user">{{auth.getNameUser()}}</span>
        <!--[routerLink]="['/mis-consignas']"-->
        <span  matTooltip="Consignas" (click)="clickNotificacion()"  class="material-icons btn-right btn-change-password" matBadgeSize="small" matBadgeColor="accent" matBadge="{{numero}}" matBadgePosition="above before" >
          notifications
        </span>

        <span (click)="logout()" class="material-icons btn-logout"></span>
        <span (click)="changePassword()" matTooltip="Cambiar contraseña" class="material-icons btn-right btn-change-password">vpn_key</span>
        <span (click)="logout()" class="material-icons btn-right"
          matTooltip="Salir"
        >exit_to_app</span>
      </div>

    </div>

  </mat-toolbar-row>
</mat-toolbar>
