<mat-form-field appearance="outline" class="input" [style]="style">
  <mat-label>{{label}}</mat-label>
  <input (keypress)="setUrl( urlApi ,$event )" type="text" placeholder="{{label}}" aria-label="Number" matInput [formControl]="myControl"
    [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">

      {{option.name}}

    </mat-option>
  </mat-autocomplete>
  <mat-hint style="color: red" *ngIf="messages">{{messages}}</mat-hint>
</mat-form-field>

