<mat-tab-group mat-align-tabs="center" (selectedIndexChange)="selectedIndexChange($event)">
    <mat-tab>
        <ng-template mat-tab-label>
            <span>{{nameTab}} Consigna</span>
        </ng-template>
        <app-consigna-new (setElemento)="setElemento($event)"></app-consigna-new>
    </mat-tab>
    <!-- <mat-tab>
        <ng-template mat-tab-label>
            <span>Trabajos de Oportunidad</span>
        </ng-template>
        <app-trabajo-oportunidad  
        [elementos]="elementos"
        (setTrabajoOportunidad)="setTrabajoOportunidad($event)"
        ></app-trabajo-oportunidad>
    </mat-tab> -->
    <mat-tab>
        <ng-template mat-tab-label>
            <span>Registro de Maniobras</span>
        </ng-template>
        <app-maniobra
        [registroManiobra]="registroManiobra"
        (setRegistroManiobra)="setRegistroManiobra($event)"
        ></app-maniobra>
    </mat-tab>
</mat-tab-group>

<!-- botón para abrir form nueva consigna -->
<button *ngIf="showBotonGuardar" mat-fab color="primary" style="position: fixed; right: 3%; top: 12%; z-index: 1;" (click)="saveConsigna()" 
    matTooltip="{{action}} Consigna" matTooltipClass="custom-tooltip">
    <mat-icon style="color: #FFFFFF;">save</mat-icon>
</button> 