<mat-tab-group mat-align-tabs="center" animationDuration="500ms">
    <mat-tab label="{{nameTab}} Consigna">
        <app-consigna-new (setElemento)="setElemento($event)"></app-consigna-new>
    </mat-tab>
    <mat-tab label="Trabajos de Oportunidad">
          <app-trabajo-oportunidad  
          [elementos]="elementos"
          (setTrabajoOportunidad)="setTrabajoOportunidad($event)"
          ></app-trabajo-oportunidad>
    </mat-tab>
    <mat-tab label="Registro de Maniobras">
        <app-maniobra></app-maniobra>
    </mat-tab>
</mat-tab-group>

<!-- botón para abrir form nueva consigna -->
<button mat-fab color="primary" style="position: fixed; right: 3%; top: 12%; z-index: 1;" (click)="saveConsigna()" 
    matTooltip="{{action}} Consigna" matTooltipClass="custom-tooltip">
    <mat-icon style="color: #FFFFFF;">save</mat-icon>
</button> 