<mat-grid-list class="row" cols="1" rowHeight="110px">
    <mat-grid-tile>
        <mat-form-field appearance="outline" style="width: 40%;">
            <input matInput [id]="'form-file'" (click)="fileInput.click()" [(ngModel)]="fileName" [placeholder]="placeholder ? placeholder : 'Ingrese el documento'">
            <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
            <mat-hint style="color: red" *ngIf="messages">{{messages}}</mat-hint>
        </mat-form-field>
          <button  matTooltip="Agregar Documento" matTooltipClass="custom-tooltip" type="button" color="primary"
            style="margin-top: -19px; padding: 7px; border-radius: 10%;" mat-raised-button (click)="fileInput.click()">
            <mat-icon style="color: #FFF">insert_drive_file</mat-icon>
          </button>           
    </mat-grid-tile>
</mat-grid-list>  