<mat-card class="container">
  <mat-card-content>
    <h1>Autorizar</h1>

    <div style="text-align: left;width: 98%;">
      <strong>Autorizador: </strong><label>Brayan Herney Medina</label>
    </div>
    <mat-grid-list class="row" cols="2" rowHeight="104px">


      <mat-grid-tile [colspan]="2">

        <app-input-autocomplete style="width: 96%;" [label]="form.numeroConsigna.label"
          [value]="form.numeroConsigna.value" [name]="form.numeroConsigna.name"
          [messages]="form.numeroConsigna.messages" (valueChange)="setData(form.numeroConsigna.name, $event)"
          [urlApi]="form.numeroConsigna.url">
        </app-input-autocomplete>

        <div style="padding-bottom:20px">
          <button mat-mini-fab color="accent" matTooltip="Consultar" matTooltipClass="custom-tooltip">
            <mat-icon style="color: #FFFFFF">search</mat-icon>
          </button>
        </div>

      </mat-grid-tile>

      <mat-grid-tile [colspan]="2">

        <app-input-text-area style="width: 98%;" class="input" [label]="form.observacion.label"
          [value]="form.observacion.value" [name]="form.observacion.name" [messages]="form.observacion.messages"
          (valueChange)="setData(form.observacion.name, $event)">
        </app-input-text-area>


      </mat-grid-tile>


      <!--




        </mat-grid-tile>




        <mat-grid-tile [colspan]="2">

          <app-input-text-area style="width: 98%;" class="input" [label]="form.medidaSeguridad.label"
            [value]="form.medidaSeguridad.value" [name]="form.medidaSeguridad.name"
            [messages]="form.medidaSeguridad.messages" (valueChange)="setData(form.medidaSeguridad.name, $event)">
          </app-input-text-area>


        </mat-grid-tile>

        <mat-grid-tile>

          <app-input-text style="width: 96%;" class="input" [label]="form.jefeTrabajo.label"
            [value]="form.jefeTrabajo.value" [name]="form.jefeTrabajo.name" [messages]="form.jefeTrabajo.messages"
            (valueChange)="setData(form.jefeTrabajo.name, $event)">
          </app-input-text>


        </mat-grid-tile>

        <mat-grid-tile>

          <app-input-text style="width: 96%;" class="input" [label]="form.telefono.label" [value]="form.telefono.value"
            [name]="form.telefono.name" [messages]="form.telefono.messages"
            (valueChange)="setData(form.telefono.name, $event)">
          </app-input-text>


        </mat-grid-tile>
    -->
    </mat-grid-list>

    <div style="padding: 10px;">
      <app-table-elemento-calidad [data]="dataElementoCalidad"></app-table-elemento-calidad>
    </div>

    <button mat-raised-button color="primary" style="margin-left: 20px; margin-top: 10px;">
      <span style="color: #FFF">Guardar</span>
    </button>

    <button mat-raised-button (click)="limpiar()"
      style="background-color:lightslategrey;margin-left: 20px; margin-top: 10px;">
      <span style="color: #FFF">Limpiar</span>
    </button>

  </mat-card-content>
</mat-card>
