<mat-form-field appearance="outline" class="input">
  <mat-label>{{label}}</mat-label>
  <input [name]="name" matInput [(ngModel)]="value"
         (ngModelChange)="valueChange.emit($event)"
         [type]="hide ? 'password' : 'text'">
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <mat-hint style="color: red" *ngIf="messages">{{messages}}</mat-hint>
</mat-form-field>
