.container {
  min-height: 500px;
  width: 97%;
  text-align: center;
  margin: 1% auto;
}


::ng-deep .snackbar-alert {
  background-color: #fA2;
  color: white;
}

::ng-deep .snackbar-error {
  background-color: red;
  color: white;
}
