<mat-card class="container">
  <mat-card-content>
    <h2>Tipo parametros</h2>
    <mat-grid-list class="row" cols="2" rowHeight="103px">

      <mat-grid-tile [colspan]="2">

        <app-input-text style="width: 98%;" [label]="form.nombre.label" [value]="form.nombre.value"
          [name]="form.nombre.name" [messages]="form.nombre.messages"
          (valueChange)="setData(form.nombre.name, $event)">
        </app-input-text>

      </mat-grid-tile>


      <mat-grid-tile [colspan]="2">

        <app-input-text-area style="width: 98%;" class="input" [label]="form.descripcion.label"
          [value]="form.descripcion.value" [name]="form.descripcion.name" [messages]="form.descripcion.messages"
          (valueChange)="setData(form.descripcion.name, $event)">
        </app-input-text-area>


      </mat-grid-tile>

      <mat-grid-tile [colspan]="2">

        <app-input-text style="width: 98%;" [label]="form.codigo.label" [value]="form.codigo.value"
          [name]="form.codigo.name" [messages]="form.codigo.messages"
          (valueChange)="setData(form.nombre.name, $event)">
        </app-input-text>

      </mat-grid-tile>


    </mat-grid-list>


    <button  mat-raised-button color="primary" (onclick)="guardar()" style="margin-left: 20px; margin-top: 10px;">
      <span style="color: #FFF">Guardar</span>
    </button>

  </mat-card-content>
</mat-card>


