::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-sort-header-arrow {
  color: #FFFFFF;
}

.status {
  padding: 5px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}

.sin-procesar {
  background: #9e9e9e;
}

.en-proceso {
  background: #2196f3;
}

.procesado {
  background: #4caf50;
}

.procesado-con-error {
  background: #f44336;
}
