<mat-card class="container">
    <mat-card-content>
        <h1>{{action | titlecase}} {{ tipoFormato | titlecase}}</h1>
        <br>
        <mat-grid-list class="row" cols="4" rowHeight="80px">
            
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>{{ form.tipoFormatoConsigna.required ? form.tipoFormatoConsigna.label+' *' : form.tipoFormatoConsigna.label}}</mat-label>
                    <mat-select id="form_consigna-tipo_formato" [(ngModel)]="form.tipoFormatoConsigna.value" 
                        (ngModelChange)="validateTipoFormato($event)" style="padding-top: 5px;padding-bottom: 5px;">
                        <mat-option *ngFor="let value of dataControls?.tipoFormatoConsigna;" [value]="value.codigo">
                            {{value.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-hint style="color: red" *ngIf="form.tipoFormatoConsigna.messages">{{form.tipoFormatoConsigna.messages}}</mat-hint>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>{{ form.divisionArea.required ? form.divisionArea.label+' *' : form.divisionArea.label}}</mat-label>
                    <mat-select [disabled]="form.divisionArea.disabled" [(ngModel)]="form.divisionArea.value" style="padding-top: 5px;padding-bottom: 5px;">
                        <mat-option *ngFor="let value of dataControls?.divisionArea;" [value]="value.id">
                            {{value.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-hint style="color: red" *ngIf="form.divisionArea.messages">{{form.divisionArea.messages}}</mat-hint>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>{{ form.tipoZona.required ? form.tipoZona.label+' *' : form.tipoZona.label}}</mat-label>
                    <mat-select [disabled]="form.tipoZona.disabled" [(ngModel)]="form.tipoZona.value" (ngModelChange)="setConsecutivo(2,dataControls?.tipoZona,form.tipoZona.value)" style="padding-top: 5px;padding-bottom: 5px;">
                        <mat-option *ngFor="let value of dataControls?.tipoZona;" [value]="value.id">
                            {{value.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-hint style="color: red" *ngIf="form.tipoZona.messages">{{form.tipoZona.messages}}</mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>{{form.tipoSolicitud.required ? form.tipoSolicitud.label+' *' : form.tipoSolicitud.label}}</mat-label>
                    <mat-select [disabled]="form.tipoSolicitud.disabled" [(ngModel)]="form.tipoSolicitud.value" (ngModelChange)="setConsecutivo(1,dataControls?.tipoSolicitud,form.tipoSolicitud.value); validateFechaSolicitud()" style="padding-top: 5px;padding-bottom: 5px;">
                        <mat-option *ngFor="let value of dataControls?.tipoSolicitud;" [value]="value.id">
                            {{value.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-hint style="color: red" *ngIf="form.tipoSolicitud.messages">{{form.tipoSolicitud.messages}}</mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <app-datepicker 
                [label]="form.fechaSolicitud.label" 
                [value]="form.fechaSolicitud.value"
                [name]="form.fechaSolicitud.name" 
                [messages]="form.fechaSolicitud.messages"
                [required]="form.fechaSolicitud.required"
                [disabled]="form.fechaSolicitud.disabled"
                (valueChange)="setData(form.fechaSolicitud.name, $event); validateFechaSolicitud()"
                ></app-datepicker>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>{{form.tipoConsignacion.required ? form.tipoConsignacion.label+' *' : form.tipoConsignacion.label}}</mat-label>
                    <mat-select [disabled]="form.tipoConsignacion.disabled" [(ngModel)]="form.tipoConsignacion.value" (ngModelChange)="setConsecutivo(0,dataControls?.tipoConsignacion,form.tipoConsignacion.value)" style="padding-top: 5px;padding-bottom: 5px;">
                        <mat-option *ngFor="let value of dataControls?.tipoConsignacion;" [value]="value.id">
                            {{value.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-hint style="color: red" *ngIf="form.tipoConsignacion.messages">{{form.tipoConsignacion.messages}}</mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <app-input-text style="width: 85%;"
                class="input"
                    [label]="form.numeroConsigna.label"
                    [value]="form.numeroConsigna.value"
                    [name]="form.numeroConsigna.name"
                    [messages]="form.numeroConsigna.messages"
                    [disable] = true
                    (valueChange)="setData(form.numeroConsigna.name, $event)">
                </app-input-text>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <app-input-text style="width: 85%;"
                class="input"
                    [label]="form.consecutivoSnc.label"
                    [value]="form.consecutivoSnc.value"
                    [name]="form.consecutivoSnc.name"
                    [messages]="form.consecutivoSnc.messages"
                    [required]="form.consecutivoSnc.required"
                    [disable]="form.consecutivoSnc.disabled"
                    (valueChange)="setData(form.consecutivoSnc.name, $event)">
                </app-input-text>
            </mat-grid-tile> 
            
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>{{form.estadoConsigna.required ? form.estadoConsigna.label+' *':form.estadoConsigna.label}}</mat-label>
                    <mat-select [disabled]="form.estadoConsigna.disabled" [(ngModel)]="form.estadoConsigna.value" style="padding-top: 5px;padding-bottom: 5px;">
                        <mat-option *ngFor="let value of dataControls?.estadoConsigna;" [value]="value.id">
                            {{value.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-hint style="color: red" *ngIf="form.estadoConsigna.messages">{{form.estadoConsigna.messages}}</mat-hint>
                </mat-form-field>
            </mat-grid-tile>  
            
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>{{form.estadoEquipo.required ? form.estadoEquipo.label+' *' : form.estadoEquipo.label}}</mat-label>
                    <mat-select [disabled]="form.estadoEquipo.disabled" [(ngModel)]="form.estadoEquipo.value" style="padding-top: 5px;padding-bottom: 5px;">
                        <mat-option *ngFor="let value of dataControls?.estadoEquipo;" [value]="value.id">
                            {{value.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-hint style="color: red" *ngIf="form.estadoEquipo.messages">{{form.estadoEquipo.messages}}</mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            
            
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>{{form.subestacion.required ? form.subestacion.label+' *' : form.subestacion.label}}</mat-label>
                    <mat-select [disabled]="(dataControls?.subestacion.length > 0 ? false: true) || form.subestacion.disabled" 
                        [(ngModel)]="form.subestacion.value" (ngModelChange)="getTipoElementos($event)"
                        style="padding-top: 5px;padding-bottom: 5px;">
                        <mat-option *ngFor="let value of dataControls?.subestacion;" [value]="value.id">
                            {{ value.codigo }}
                        </mat-option>
                    </mat-select>
                    <mat-hint style="color: red" *ngIf="form.subestacion.messages">{{form.subestacion.messages}}</mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>{{form.tipoMantenimiento.required ? form.tipoMantenimiento.label+' *' : form.tipoMantenimiento.label}}</mat-label>
                    <mat-select [disabled]="form.tipoMantenimiento.disabled" [(ngModel)]="form.tipoMantenimiento.value" style="padding-top: 5px;padding-bottom: 5px;">
                        <mat-option *ngFor="let value of dataControls?.tipoMantenimiento;" [value]="value.id">
                            {{ value.nombre }}
                        </mat-option>
                    </mat-select>
                    <mat-hint style="color: red" *ngIf="form.tipoMantenimiento.messages">{{form.tipoMantenimiento.messages}}</mat-hint>
                </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile [colspan]="2">
                <app-input-text style="width: 90%;"
                class="input"
                [label]="form.solicitante.label"
                [value]="form.solicitante.value"
                [name]="form.solicitante.value"
                [messages]="form.solicitante.messages"
                [disable] ="true">
                </app-input-text>
            </mat-grid-tile>
            
        </mat-grid-list>   
        
        <!-- Listado elementos a consignar -->
        <fieldset>
            <legend style="text-align: left;">Listado de Elementos a Consignar</legend>
            
            <mat-grid-list class="row" cols="4" rowHeight="80px">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>{{formElementos.redElectrica.required ? formElementos.redElectrica.label+' *' :formElementos.redElectrica.label}}</mat-label>
                        <mat-select id="form_consigna-red_electrica" [(ngModel)]="formElementos.redElectrica.value"
                        (ngModelChange)="getTipoElementos($event)" style="padding-top: 5px;padding-bottom: 5px;">
                            <mat-option *ngFor="let value of dataControls?.redElectrica;" [value]="value.value">
                                {{ value.nombre }}
                            </mat-option>
                        </mat-select>
                        <mat-hint style="color: red" *ngIf="formElementos.redElectrica.messages">{{formElementos.redElectrica.messages}}</mat-hint>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>{{formElementos.tipoElemento.required ? formElementos.tipoElemento.label+' *' :formElementos.tipoElemento.label}}</mat-label>
                        <mat-select id="form_consigna-tipo_elemento" [disabled]="dataControls?.tipoElemento.length > 0 ? false: true" [(ngModel)]="formElementos.tipoElemento.value"
                        (ngModelChange)="getElementos($event)" style="padding-top: 5px;padding-bottom: 5px;">
                            <mat-option *ngFor="let value of dataControls?.tipoElemento;" [value]="value.id">
                                {{ value.nombre }}
                            </mat-option>
                        </mat-select>
                        <mat-hint style="color: red" *ngIf="formElementos.tipoElemento.messages">{{formElementos.tipoElemento.messages}}</mat-hint>
                    </mat-form-field>
                </mat-grid-tile>
                
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>{{formElementos.elemento.required? formElementos.elemento.label+' *':formElementos.elemento.label}}</mat-label>
                        <mat-select [disabled]="dataControls?.elemento.length > 0 ? false: true" id="form_consigna-elemento" [(ngModel)]="formElementos.elemento.value" style="padding-top: 5px;padding-bottom: 5px;">
                            <mat-option *ngFor="let value of dataControls?.elemento;" [value]="value.id">
                                {{ value.nombre }}
                            </mat-option>
                        </mat-select>
                        <mat-hint style="color: red" *ngIf="formElementos.elemento.messages">{{formElementos.elemento.messages}}</mat-hint>
                    </mat-form-field>
                </mat-grid-tile>
                
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>{{formElementos.ramal.required ? formElementos.ramal.label+' *' : formElementos.ramal.label}}</mat-label>
                        <mat-select id="form_consigna-ramal" [(ngModel)]="formElementos.ramal.value" style="padding-top: 5px;padding-bottom: 5px;">
                            <mat-option *ngFor="let value of dataControls?.ramal;" [value]="value.value">
                                {{ value.nombre }}
                            </mat-option>
                        </mat-select>
                        <mat-hint style="color: red" *ngIf="formElementos.ramal.messages">{{formElementos.ramal.messages}}</mat-hint>
                    </mat-form-field>
                </mat-grid-tile>
                
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>{{formElementos.afectaUsuarios.required ? formElementos.afectaUsuarios.label+' *' : formElementos.afectaUsuarios.label}}</mat-label>
                        <mat-select id="form_consigna-afecta-usuarios" [(ngModel)]="formElementos.afectaUsuarios.value"  style="padding-top: 5px;padding-bottom: 5px;">
                            <mat-option *ngFor="let value of dataControls?.ramal;" [value]="value.value">
                                {{ value.nombre }}
                            </mat-option>
                        </mat-select>
                        <mat-hint style="color: red" *ngIf="formElementos.afectaUsuarios.messages">{{formElementos.afectaUsuarios.messages}}</mat-hint>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list class="row" cols="4" rowHeight="80px">
                <mat-grid-tile>
                    <app-datepicker 
                        [label]="formElementos.fechaInicio.label" 
                        [value]="formElementos.fechaInicio.value"
                        [name]="formElementos.fechaInicio.name" 
                        [messages]="formElementos.fechaInicio.messages"
                        [required]="formElementos.fechaInicio.required"
                        [id]="'mat-prueba'"
                        (valueChange)="setListElementoFecha(formElementos.fechaInicio.name, $event,this.formElementos)"
                    >                        
                    </app-datepicker>
                    
                </mat-grid-tile>

                <mat-grid-tile>
                    <app-date-time-picker
                        [label]="formElementos.horaInicio.label"
                        [value]="formElementos.horaInicio.value"
                        [name]="formElementos.horaInicio.name"
                        [messages]="formElementos.horaInicio.messages"
                        [required]="formElementos.horaInicio.required"
                        (valueChange)="setData(formElementos.horaInicio.name, $event,this.formElementos); validateHours()">
                    </app-date-time-picker>
                </mat-grid-tile>
                
                <mat-grid-tile>
                    <app-datepicker 
                        [label]="formElementos.fechaFinal.label" 
                        [value]="formElementos.fechaFinal.value"
                        [name]="formElementos.fechaFinal.name" 
                        [messages]="formElementos.fechaFinal.messages"
                        [required]="formElementos.fechaFinal.required"
                        [id]="'mat-prueba'"
                        (valueChange)="setListElementoFecha(formElementos.fechaFinal.name, $event,this.formElementos)"
                    >                        
                    </app-datepicker>
                </mat-grid-tile>

                <mat-grid-tile>
                    <app-date-time-picker
                        [label]="formElementos.horaFinal.label"
                        [value]="formElementos.horaFinal.value"
                        [name]="formElementos.horaFinal.name"
                        [messages]="formElementos.horaFinal.messages"
                        [required]="formElementos.horaFinal.required"
                        (valueChange)="setData(formElementos.horaFinal.name, $event,this.formElementos); validateHours()">
                    </app-date-time-picker>
                </mat-grid-tile>
            </mat-grid-list>

            <button (click)="validateListElements()" mat-mini-fab color="success" 
                style="margin-left: 20px; margin-bottom:20px;"
                matTooltip="Adicionar Elemento" matTooltipClass="custom-tooltip"
            >
                <mat-icon style="color: #FFF;">add</mat-icon>
            </button>

            <button (click)="getJsonMapa()" mat-mini-fab color="primary" 
                style="margin-left: 20px; margin-bottom:20px;"
                matTooltip="Ver mapa" matTooltipClass="custom-tooltip"
            >
                <mat-icon style="color: #FFF;">public</mat-icon>
            </button>

            <span>
                <button  id="botonVerMapaSelec"
                    (click)="verMapaGuardado()" mat-mini-fab
                    style="visibility: hidden; margin-left: 20px; margin-bottom:20px; background-color: rgb(227, 114, 34);"
                    matTooltip="Ver mapa guardado" matTooltipClass="custom-tooltip"
                >
                    <mat-icon style="color: #FFF;">where_to_vote</mat-icon>
                </button>
                <!-- para ver obtener de manera temporar la data del mapa -->
                <span style="display: none;" id="jsonDataMapa"></span>
                <span style="display: none;" id="jsonElementoIntervenirMapa"></span>
            </span>

            <table class="custom-table">
                <thead>
                <tr>
                  <th>Tipo elemento</th>
                  <th>Elemento</th>
                  <th>Ramal</th>
                  <th>Afecta Usuarios</th>
                  <th>Fecha y hora inicio</th>
                  <th>Fecha y hora final</th>
                  <th>Mapa</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let value of dataElementos; let i=index">
                    <td>{{ value.tipoElemento.name }}</td>
                    <td>{{ value.elemento.name }}</td>
                    <td>{{ value.ramal.name }}</td>
                    <td>{{ value.afectaUsuarios.name }}</td>
                    <td>{{ value.fechaInicio.name }} - {{ value.horaInicio.name }}</td>
                    <td>{{ value.fechaFinal.name }} - {{ value.horaFinal.name }}</td>
                    <td><button *ngIf="value.jsonElementoMapa.value != undefined && value.jsonElementoMapa.value != '' && value.jsonElementoMapa.value != null " 
                        color="primary"
                        (click)="openMap(value.jsonElementoMapa.value)" mat-icon-button matTooltip="Ver en mapa" matTooltipClass="custom-tooltip">
                        <mat-icon>map</mat-icon>
                    </button></td>
                    <td>
                        <button (click)="removeListElement(i)" mat-icon-button matTooltip="Eliminar" matTooltipClass="custom-tooltip">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </td>
                </tr>
                </tbody>
              </table>
        </fieldset>
        <mat-hint style="color: red" *ngIf="messageListaElementos != '' ">{{ messageListaElementos }}</mat-hint>
        <br><br>
        <!-- trabajos a efectuar -->
        <mat-grid-list class="row" cols="1" rowHeight="110px">
            <mat-grid-tile>
                <app-input-text-area style="width: 100%;"
                    class="input"
                    [label]="form.trabajoEfectuar.label"
                    [value]="form.trabajoEfectuar.value"
                    [name]="form.trabajoEfectuar.name"
                    [messages]="form.trabajoEfectuar.messages"
                    [required]="form.trabajoEfectuar.required"
                    (valueChange)="setData(form.trabajoEfectuar.name, $event)">
                </app-input-text-area>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <app-input-text-area style="width: 100%;"
                    class="input"
                    [label]="form.justificacion.label"
                    [value]="form.justificacion.value"
                    [name]="form.justificacion.name"
                    [messages]="form.justificacion.messages"
                    [required]="form.justificacion.required"
                    (valueChange)="setData(form.justificacion.name, $event)">
                </app-input-text-area>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <app-input-text-area style="width: 100%;"
                    class="input"
                    [label]="form.observacionOpeyman.label"
                    [value]="form.observacionOpeyman.value"
                    [name]="form.observacionOpeyman.name"
                    [messages]="form.observacionOpeyman.messages"
                    [required]="form.observacionOpeyman.required"
                    (valueChange)="setData(form.observacionOpeyman.name, $event)">
                </app-input-text-area>
            </mat-grid-tile>

        </mat-grid-list>

        <!-- adjuntar archivo -->
        <!-- <app-input-file [placeholder]="'Ingrese el documento a adjuntar la topología de inicio *'"
            [typeExtension]="['pdf','png']" [maxSize]="'5'"
            (valueChange)="setInput($event)"
            [messages] = "fileUpload.message"
            [fileName] = "fileName"
            [fileUrl] = "fileUrl"
        >                    
        </app-input-file> -->
        <app-input-file-dynamic
            [dataInputFile]="dataInputFile"
            [package]="'topologia'"
        >

        </app-input-file-dynamic>


        <!-- areas afectadas -->
        <fieldset>
            <legend style="text-align: left;">Areas Afectadas</legend>
            <h3 style="text-align: left;">Interrupciones Mientras Dura el Trabajo</h3>
            <mat-grid-list class="row" cols="2" rowHeight="110px">

                <mat-grid-tile>
                    <app-input-text-area style="width: 100%;"
                        class="input"
                        [label]="interrupcionesTrabajo.barrios.label"
                        [value]="interrupcionesTrabajo.barrios.value"
                        [name]="interrupcionesTrabajo.barrios.name"
                        [messages]="interrupcionesTrabajo.barrios.messages"
                        (valueChange)="setData(interrupcionesTrabajo.barrios.name, $event, this.interrupcionesTrabajo)">
                    </app-input-text-area>
                </mat-grid-tile>
                
                <mat-grid-tile>
                    <app-input-text-area style="width: 100%;"
                        class="input"
                        [label]="interrupcionesTrabajo.clientesNoRegulados.label"
                        [value]="interrupcionesTrabajo.clientesNoRegulados.value"
                        [name]="interrupcionesTrabajo.clientesNoRegulados.name"
                        [messages]="interrupcionesTrabajo.clientesNoRegulados.messages"
                        (valueChange)="setData(interrupcionesTrabajo.clientesNoRegulados.name, $event, this.interrupcionesTrabajo)">
                    </app-input-text-area>
                </mat-grid-tile>
    
            </mat-grid-list>
            
            <h3 style="text-align: left;">Interrupciones Por Corto Tiempo</h3>
            <mat-grid-list class="row" cols="2" rowHeight="110px">

                <mat-grid-tile>
                    <app-input-text-area style="width: 100%;"
                        class="input"
                        [label]="interrupcionesCortoTiempo.barrios.label"
                        [value]="interrupcionesCortoTiempo.barrios.value"
                        [name]="interrupcionesCortoTiempo.barrios.name"
                        [messages]="interrupcionesCortoTiempo.barrios.messages"
                        (valueChange)="setData(interrupcionesCortoTiempo.barrios.name, $event, this.interrupcionesCortoTiempo)">
                    </app-input-text-area>
                </mat-grid-tile>
                
                <mat-grid-tile>
                    <app-input-text-area style="width: 100%;"
                        class="input"
                        [label]="interrupcionesCortoTiempo.clientesNoRegulados.label"
                        [value]="interrupcionesCortoTiempo.clientesNoRegulados.value"
                        [name]="interrupcionesCortoTiempo.clientesNoRegulados.name"
                        [messages]="interrupcionesCortoTiempo.clientesNoRegulados.messages"
                        (valueChange)="setData(interrupcionesCortoTiempo.clientesNoRegulados.name, $event, this.interrupcionesCortoTiempo)">
                    </app-input-text-area>
                </mat-grid-tile>
    
            </mat-grid-list>
        </fieldset>
        <br><br>
        <mat-grid-list class="row" cols="2" rowHeight="110px">
            <!-- consigna operativa -->
            <mat-grid-tile>
                <app-input-text-area style="width: 100%;"
                    class="input"
                    [label]="form.consignaOperativa.label"
                    [value]="form.consignaOperativa.value"
                    [name]="form.consignaOperativa.name"
                    [messages]="form.consignaOperativa.messages"
                    [required]="form.consignaOperativa.required"
                    (valueChange)="setData(form.consignaOperativa.name, $event)">
                </app-input-text-area>
            </mat-grid-tile>

            <!-- medidas de seguridad -->
            <mat-grid-tile>
                <app-input-text-area style="width: 100%;"
                    class="input"
                    [label]="form.medidasSeguiridad.label"
                    [value]="form.medidasSeguiridad.value"
                    [name]="form.medidasSeguiridad.name"
                    [messages]="form.medidasSeguiridad.messages"
                    [required]="form.medidasSeguiridad.required"
                    (valueChange)="setData(form.medidasSeguiridad.name, $event)">
                </app-input-text-area>
            </mat-grid-tile>

        </mat-grid-list>

        <mat-grid-list class="row" cols="2" rowHeight="80px">
            <!-- jefe de trabajos -->
            <mat-grid-tile>
                <app-input-text style="width: 100%;"
                    class="input"
                    [label]="form.jefeTrabajo.label"
                    [value]="form.jefeTrabajo.value"
                    [name]="form.jefeTrabajo.name"
                    [messages]="form.jefeTrabajo.messages"
                    [required]="form.jefeTrabajo.required"
                    (valueChange)="setData(form.jefeTrabajo.name, $event)">
                </app-input-text>
            </mat-grid-tile>

            <!-- telefono jefe trabajo -->
            <mat-grid-tile>
                <app-input-text style="width: 100%;"
                    class="input"
                    [label]="form.telefonoJefeTrabajo.label"
                    [value]="form.telefonoJefeTrabajo.value"
                    [name]="form.telefonoJefeTrabajo.name"
                    [messages]="form.telefonoJefeTrabajo.messages"
                    [required]="form.telefonoJefeTrabajo.required"
                    (valueChange)="setData(form.telefonoJefeTrabajo.name, $event)">
                </app-input-text>
            </mat-grid-tile>

            <!-- jefe de trabajo contratista -->
            <mat-grid-tile>
                <app-input-text style="width: 100%;"
                    class="input"
                    [label]="form.jefeTrabajoContratista.label"
                    [value]="form.jefeTrabajoContratista.value"
                    [name]="form.jefeTrabajoContratista.name"
                    [messages]="form.jefeTrabajoContratista.messages"
                    [required]="form.jefeTrabajoContratista.required"
                    (valueChange)="setData(form.jefeTrabajoContratista.name, $event)">
                </app-input-text>
            </mat-grid-tile>

            <!-- telefono jefe trabajo contratista -->
            <mat-grid-tile>
                <app-input-text style="width: 100%;"
                    class="input"
                    [label]="form.telJefeTrabajoContratista.label"
                    [value]="form.telJefeTrabajoContratista.value"
                    [name]="form.telJefeTrabajoContratista.name"
                    [messages]="form.telJefeTrabajoContratista.messages"
                    [required]="form.telJefeTrabajoContratista.required"
                    (valueChange)="setData(form.telJefeTrabajoContratista.name, $event)">
                </app-input-text>
            </mat-grid-tile>
            
            <!-- moviles -->
            <mat-grid-tile>
                <app-input-text style="width: 100%;"
                    class="input"
                    [label]="form.moviles.label"
                    [value]="form.moviles.value"
                    [name]="form.moviles.name"
                    [messages]="form.moviles.messages"
                    [required]="form.moviles.required"
                    (valueChange)="setData(form.moviles.name, $event)">
                </app-input-text>
            </mat-grid-tile>

        </mat-grid-list>

        <fieldset>
            <legend style="text-align: left;">Anexos</legend>
            <app-input-file-multiple 
                [placeholder]   = "fileAnexos.placeholder"
                [typeExtension] = "fileAnexos.typeExtension" 
                [maxSize]       = "fileAnexos.maxSize"
                [messages]      = "fileAnexos.messages"
                [fileName]      = "fileAnexos.fileName"
                [fileUrl]       = "fileAnexos.fileUrl"
                [required]      = "fileAnexos.required"
                [package]       = "fileAnexos.package"
            >                    
            </app-input-file-multiple>
        </fieldset>

        
        <!-- <button id="the-button" (click)="testGuardarConsigna()" mat-raised-button color="primary" style="margin-left: 20px; margin-top: 10px;">
            <span style="color: #FFF">{{action}}</span>
        </button> -->        
        
    </mat-card-content>
  </mat-card>
