<mat-card class="container">
    <mat-card-content>
        <h2>Elementos</h2>
        <mat-grid-list class="row" cols="3" rowHeight="103px">
            <mat-grid-tile>
                <mat-form-field style="width: 50%;">
                    <mat-label>{{ form.tipoZona.required ? form.tipoZona.label+' *' : form.tipoZona.label}}</mat-label>
                    <mat-select [disabled]="form.tipoZona.disabled" [(ngModel)]="form.tipoZona.value" 
                        style="padding-top: 5px;padding-bottom: 5px;">
                        <mat-option *ngFor="let value of dataControls?.tipoZona;" [value]="value.id">
                            {{value.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-hint style="color: red" *ngIf="form.tipoZona.messages">{{form.tipoZona.messages}}</mat-hint>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="2">
                <app-input-text style="width: 80%;"
                    class="input"
                    [label]="form.nombre.label"
                    [value]="form.nombre.value"
                    [name]="form.nombre.name"
                    [messages]="form.nombre.messages"
                    [required]="form.nombre.required"
                    [disable]="form.nombre.disabled"
                    [length]="form.nombre.length"
                    (valueChange)="setData(form.nombre.name, $event)">
                </app-input-text>
            </mat-grid-tile>

            <mat-grid-tile>
                <app-input-text style="width: 90%;"
                    class="input"
                    [label]="form.codigo.label"
                    [value]="form.codigo.value"
                    [name]="form.codigo.name"
                    [messages]="form.codigo.messages"
                    [required]="form.codigo.required"
                    [disable]="form.codigo.disabled"
                    [length]="form.codigo.length"
                    (valueChange)="setData(form.codigo.name, $event)">
                </app-input-text>
            </mat-grid-tile>

            <mat-grid-tile>
                <app-input-text style="width: 90%;"
                    class="input"
                    [label]="form.latitud.label"
                    [value]="form.latitud.value"
                    [name]="form.latitud.name"
                    [messages]="form.latitud.messages"
                    [required]="form.latitud.required"
                    [disable]="form.latitud.disabled"
                    [length]="form.latitud.length"
                    (valueChange)="setData(form.latitud.name, $event)">
                </app-input-text>
            </mat-grid-tile>

            <mat-grid-tile>
                <app-input-text style="width: 90%;"
                    class="input"
                    [label]="form.longitud.label"
                    [value]="form.longitud.value"
                    [name]="form.longitud.name"
                    [messages]="form.longitud.messages"
                    [required]="form.longitud.required"
                    [disable]="form.longitud.disabled"
                    [length]="form.longitud.length"
                    (valueChange)="setData(form.longitud.name, $event)">
                </app-input-text>
            </mat-grid-tile>

            <mat-grid-tile>
                <app-input-text style="width: 90%;"
                    class="input"
                    [label]="form.codigoCreg.label"
                    [value]="form.codigoCreg.value"
                    [name]="form.codigoCreg.name"
                    [messages]="form.codigoCreg.messages"
                    [required]="form.codigoCreg.required"
                    [disable]="form.codigoCreg.disabled"
                    [length]="form.codigoCreg.length"
                    (valueChange)="setData(form.codigoCreg.name, $event)">
                </app-input-text>
            </mat-grid-tile>
                    
        </mat-grid-list>

        <button mat-raised-button [ngClass]="boton.color" (click)="guardar()" style="margin-left: 20px; margin-top: 10px;">
            <span style="color: #FFF">{{boton.value}}</span>
        </button>
      
        <button mat-flat-button class="btn-default" (click)="limpiar()"
            style="margin-left: 20px; margin-top: 10px;">Limpiar</button>

    </mat-card-content>
</mat-card>
<br>
<div>
    <app-table-subestaciones [data]="dataControls.subestacion" [temporales]="temporales" 
        (valueChange)="setDataTable($event)">
    </app-table-subestaciones>
</div>