.container {
  width: 90%;
  text-align: center;
  margin: 1% auto;
}

.message-process{
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 15px;
  background: #e1f5fe;
  font-weight: 500;
  font-size: 15px;
}

.message-complete{
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 15px;
  background: #c8e6c9;
  font-weight: 500;
  font-size: 15px;
}
