<mat-form-field style="width: 100%">
  <mat-label>Buscar en el listado</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ej: 123456789">
</mat-form-field>

<div style="text-align: center !important;" class="container-table">
  <table mat-table [dataSource]="dataSource" matSort class="custom-table">

    <!-- CheckBox Column -->
    <ng-container matColumnDef="check">
      <th mat-header-cell *matHeaderCellDef style="width: 3%" class="fixed-row">
        <mat-checkbox [(ngModel)]="checked"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox name="invoices[]" [checked]="checked" [value]="JSON.stringify(row)"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Cuenta Column -->
    <ng-container matColumnDef="account_complete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="fixed-row"> Cuenta</th>
      <td mat-cell *matCellDef="let row">{{row?.account_complete}}</td>
    </ng-container>

    <!-- Ciclo Column -->
    <ng-container matColumnDef="cycle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="fixed-row"> Ciclo</th>
      <td mat-cell *matCellDef="let row">{{row?.cycle}}</td>
    </ng-container>

    <!-- Mes Column -->
    <ng-container matColumnDef="month">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="fixed-row"> Mes</th>
      <td mat-cell *matCellDef="let row">{{row?.month}}</td>
    </ng-container>

    <!-- Año Column -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="fixed-row"> Año</th>
      <td mat-cell *matCellDef="let row">{{row?.year}}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="fixed-row"> Email</th>
      <td mat-cell *matCellDef="let row">{{row?.destination_email}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

</div>
