$custom-primary: (
  50: #0098DB,
  100: #0098DB,
  200: #0098DB,
  300: #0098DB,
  400: #0098DB,
  500: #0098DB,
  600: #0098DB,
  700: #0098DB,
  800: #0098DB,
  900: #0098DB,
  A100: #0098DB,
  A200: #0098DB,
  A400: #0098DB,
  A700: #0098DB,
  contrast: (
    50: #0098DB,
    100: #0098DB,
    200: #0098DB,
    300: #0098DB,
    400: #0098DB,
    500: #0098DB,
    600: #0098DB,
    700: #0098DB,
    800: #0098DB,
    900: #0098DB,
    A100: #0098DB,
    A200: #0098DB,
    A400: #0098DB,
    A700: #0098DB,
  )
);

$custom-secondary: (
  50: #E37222,
  100: #E37222,
  200: #E37222,
  300: #E37222,
  400: #E37222,
  500: #E37222,
  600: #E37222,
  700: #E37222,
  800: #E37222,
  900: #E37222,
  A100: #E37222,
  A200: #E37222,
  A400: #E37222,
  A700: #E37222,
  contrast: (
    50: #E37222,
    100: #E37222,
    200: #E37222,
    300: #E37222,
    400: #E37222,
    500: #E37222,
    600: #E37222,
    700: #E37222,
    800: #E37222,
    900: #E37222,
    A100: #E37222,
    A200: #E37222,
    A400: #E37222,
    A700: #E37222,
  )
);

$custom-primary-hex: #0098DB;
$custom-secondary-hex: #E37222;
$custom-accent: #92D400;
