// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

@import 'custom-palettes';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$eh-invoice-massive-primary: mat-palette($custom-primary);
$eh-invoice-massive-accent: mat-palette($custom-secondary, A200, A100, A400);

// The warn palette is optional (defaults to red).
$eh-invoice-massive-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$eh-invoice-massive-theme: mat-light-theme($eh-invoice-massive-primary, $eh-invoice-massive-accent, $eh-invoice-massive-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($eh-invoice-massive-theme);

// Estilos del TOAST
@import "~angular-notifier/styles";

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('assets/fondo.png');
}

.input {
  width: 100%;
}

.custom-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  max-width: 100% !important;
}

.custom-table td, .custom-table th {
  border: 1px solid #ddd;
  padding: 8px !important;
  word-wrap: break-word !important;
}

.custom-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.custom-table tr:hover {
  background-color: #ddd;
}

.custom-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0098DB;
  color: white;
}

.fixed-row {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;

}

.btn-success {
  background-color: #4caf50;
  color: #fff;
}

.btn-primary {
  background-color: #0098db;
  color: #fff;
}

.btn-default {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d
}

.btn-danger {
  background-color: #f44336;
  color: #fff;
}

.btn-warning {
  background-color: #f0ad4e;
  color: #fff;
}

.custom-float-button {
  position: fixed !important;
  bottom: 40px !important;
  right: 40px !important;
  z-index: 999 !important;
}

.timepicker-overlay {
  z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}
