<div style="min-height: 520px;">
  <mat-card class="container">
    <mat-card-content>

      <h1>
        <ng-container *ngIf="!id">Crear</ng-container>
        <ng-container *ngIf="id">Editar</ng-container>
        comunicado de prensa
      </h1>

      <mat-radio-group label="Tipo de comunicado" *ngIf="!id" [(ngModel)]="tipoId"
                       (change)="selectTipoComunicado($event)">
        <mat-radio-button style="padding: 10px;" *ngFor="let value of dataControls?.tipos;"
                          [value]="value?.id" [id]="value?.codigo">{{value?.nombre}}</mat-radio-button>
      </mat-radio-group>

      <fieldset *ngIf="tipoComunicadoSelected == 'PC'">
        <legend style="text-align: left;">Buscar consignación por número</legend>

        <ng-container *ngIf="!id">

          <app-input-text
            class="input"
            (keyup.enter)="searchConsigna()"
            [name]="form.numeroConsigna.name"
            [value]="form.numeroConsigna.value"
            [label]="form.numeroConsigna.label"
            [messages]="form.numeroConsigna.messages"
            (valueChange)="setData(form.numeroConsigna.name, $event)"
            [upperCase]="true"
            [style]="'width: 300px'"
          ></app-input-text>

          <button (click)="searchConsigna()" mat-raised-button color="primary" style="margin-left: 20px;"
                  matTooltip="Buscar consigna a partir del código">
            <mat-icon style="color: #FFFFFF">search</mat-icon>
          </button>

        </ng-container>

        <table class="custom-table">
          <tbody>
          <tr>
            <th style="width: 15%;">Consigna No.</th>
            <td style="width: 15%;">{{data?.codigo}}</td>
            <th style="width: 15%;">Zona</th>
            <td style="width: 15%;">{{data?.zona?.nombre}}</td>
            <th style="width: 15%;">Tipo Solicitud</th>
            <td style="width: 15%;">{{data?.tipo_solicitud?.nombre}}</td>
          </tr>
          <tr>
            <th>Fecha solicitud</th>
            <td>{{data?.fecha_solicitud | date}}
            <th>Tipo Consignación</th>
            <td>{{data?.tipo_consignacion?.nombre}}</td>
            <th>Estado consignación</th>
            <td>{{data?.estado_consignacion?.nombre}}</td>
          </tr>
          <tr>
            <th>Trabajo a efectuar</th>
            <td colspan="5">{{data?.trabajo_efectuar}}</td>
          </tr>
          <tr>
            <th>Justificación</th>
            <td colspan="5">{{data?.justificacion}}</td>
          </tr>
          </tbody>
        </table>

      </fieldset>

      <fieldset *ngIf="tipoComunicadoSelected == 'PRF'">
        <legend style="text-align: left;">Buscar consignaciones por rango de fechas</legend>

        <ng-container *ngIf="!id">

          <app-datepicker
            [style]="'padding: 5px;'"
            [label]="formRangoFecha.fechaInicio.label"
            [value]="formRangoFecha.fechaInicio.value"
            [name]="formRangoFecha.fechaInicio.name"
            [messages]="formRangoFecha.fechaInicio.messages"
            [id]="formRangoFecha.fechaInicio.name"
            (valueChange)="setDataFormRangoFechas(formRangoFecha.fechaInicio.name, $event);"
          ></app-datepicker>

          <app-datepicker
            [style]="'padding: 5px;'"
            [label]="formRangoFecha.fechaFin.label"
            [value]="formRangoFecha.fechaFin.value"
            [name]="formRangoFecha.fechaFin.name"
            [messages]="formRangoFecha.fechaFin.messages"
            [id]="formRangoFecha.fechaFin.name"
            (valueChange)="setDataFormRangoFechas(formRangoFecha.fechaFin.name, $event);"
          ></app-datepicker>

          <button (click)="searchConsignaByDates()" mat-raised-button color="primary" style="margin-left: 20px;"
                  matTooltip="Buscar consignas a partir del rango de fechas">
            <mat-icon style="color: #FFFFFF">search</mat-icon>
          </button>

        </ng-container>

        <table class="custom-table">
          <thead>
          <tr>
            <th>
              <mat-checkbox [(ngModel)]="selectAllConsignas" (ngModelChange)="checkAll()"></mat-checkbox>
            </th>
            <th>Número consigna</th>
            <th>Zona</th>
            <th>Fecha de solicitud</th>
            <th>Tipo de consignación</th>
            <th>Estado de consignación</th>
            <th>Trabajo a efectuar</th>
            <th>Justificación</th>
          </tr>
          </thead>
          <tbody *ngIf="dataPorFechas.length === 0">
          <tr>
            <td colspan="8">Sin registros...</td>
          </tr>
          </tbody>
          <tbody *ngIf="dataPorFechas.length > 0">
          <tr *ngFor="let data of dataPorFechas;">
            <td>
              <mat-checkbox [(ngModel)]="data.selected"></mat-checkbox>
            </td>
            <td>{{data?.codigo}}</td>
            <td>{{data?.zona?.nombre}}</td>
            <td>{{data?.fecha_solicitud | date}}</td>
            <td>{{data?.tipo_consignacion?.nombre}}</td>
            <td>{{data?.estado_consignacion?.nombre}}</td>
            <td>{{data?.trabajo_efectuar}}</td>
            <td>{{data?.justificacion}}</td>
          </tr>
          </tbody>
        </table>


      </fieldset>

      <fieldset style="margin-top: 1%;">

        <ng-container *ngIf="!id">

          <legend style="text-align: left;">Comunicado de prensa</legend>
          <mat-icon *ngIf="formPlantilla.plantilla.value" style="padding: 10px; cursor: pointer"
                    (click)="openVistaPreviaPlantilla()">visibility
          </mat-icon>
          <mat-form-field style="width: 300px; margin-right: 10px;" appearance="outline">
            <mat-label>{{formPlantilla.plantilla.label}}
              <ng-container *ngIf="formPlantilla.plantilla.required">*</ng-container>
            </mat-label>
            <mat-select [(ngModel)]="formPlantilla.plantilla.value" (ngModelChange)="setPlantillaSelected($event)">
              <mat-option *ngFor="let value of dataControls?.plantillas;"
                          [value]="value?.id">{{value?.nombre}}</mat-option>
            </mat-select>
            <mat-hint style="color: red"
                      *ngIf="formPlantilla.plantilla.messages">{{formPlantilla.plantilla.messages}}</mat-hint>
          </mat-form-field>

          <mat-radio-group label="Agrupar por" *ngIf="!id" [(ngModel)]="agruparPor">
            <mat-radio-button style="padding: 10px;" *ngFor="let value of dataControls?.agrupaciones;"
                              [value]="value?.codigo">{{value?.nombre}}</mat-radio-button>
          </mat-radio-group>

          <button (click)="generar()" mat-raised-button color="accent" class="button"
                  style="color: #FFFFFF; margin: 5px;">
            Generar
          </button>

        </ng-container>

        <ckeditor [(ngModel)]="contenidoComunicadoPrensa"
                  name="editorHtmlContenido"
                  required
                  debounce="500">
        </ckeditor>

        <br>
        <mat-form-field style="width: 300px; margin-right: 10px;" appearance="outline">
          <mat-label>Publicar comunicado de prensa *</mat-label>
          <mat-select [(ngModel)]="publicado">
            <mat-option [value]="1">SI</mat-option>
            <mat-option [value]="0">NO</mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <span style="font-style: italic;">Si selecciona <b>SI</b>: Se notificarán los clientes afectados y no puede volver a editar el comunicado.<br>
          Si selecciona <b>NO</b>: Podrá publicarlo más adelante y puede editar el comunicado de prensa.</span>

      </fieldset>

      <div style="text-align: center;">
        <button (click)="guardarComunicadoPrensa()" mat-raised-button color="accent" class="button"
                style="color: #FFFFFF; margin: 5px;">
          GUARDAR
        </button>
        <button (click)="cancel()" mat-raised-button color="accent" class="button" style="color: #FFFFFF; margin: 5px;">
          CANCELAR
        </button>
      </div>


    </mat-card-content>
  </mat-card>
</div>

<div id="divComunicado" style="display: none;"></div>
