.container {
  width: 95%;
  text-align: center;
  margin: 1% auto;
}
.cerrar-bitacora {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 15px;
  background: #e1f5fe;
  font-weight: 500;
  font-size: 15px;
}
