<div style="min-height: 520px;">
  <mat-card class="container">
    <mat-card-content>

      <h1>Registrar ejecución consigna</h1>

      <fieldset>
        <legend style="text-align: left;">Buscar consignación por número</legend>

        <ng-container>

          <app-input-text
            class="input"
            (keyup.enter)="searchConsigna()"
            [name]="form.numeroConsigna.name"
            [value]="form.numeroConsigna.value"
            [label]="form.numeroConsigna.label"
            [messages]="form.numeroConsigna.messages"
            (valueChange)="setData(form.numeroConsigna.name, $event)"
            [style]="'width: 300px'"
          ></app-input-text>

          <button (click)="searchConsigna()" mat-raised-button color="primary" style="margin-left: 20px;"
                  matTooltip="Buscar consigna a partir del código">
            <mat-icon style="color: #FFFFFF">search</mat-icon>
          </button>

        </ng-container>

        <table class="custom-table">
          <tbody>
          <tr>
            <th style="width: 15%;">Consigna No.</th>
            <td style="width: 15%;">{{dataConsigna?.codigo}}</td>
            <th style="width: 15%;">Zona</th>
            <td style="width: 15%;">{{dataConsigna?.zona?.nombre}}</td>
            <th style="width: 15%;">Tipo Solicitud</th>
            <td style="width: 15%;">{{dataConsigna?.tipo_solicitud?.nombre}}</td>
          </tr>
          <tr>
            <th>Fecha solicitud</th>
            <td>{{dataConsigna?.fecha_solicitud | date}}
            <th>Tipo Consignación</th>
            <td>{{dataConsigna?.tipo_consignacion?.nombre}}</td>
            <th>Estado consignación</th>
            <td>{{dataConsigna?.estado_consignacion?.nombre}}</td>
          </tr>
          <tr>
            <th>Trabajo a efectuar</th>
            <td colspan="5">{{dataConsigna?.trabajo_efectuar}}</td>
          </tr>
          <tr>
            <th>Justificación</th>
            <td colspan="5">{{dataConsigna?.justificacion}}</td>
          </tr>
          </tbody>
        </table>

      </fieldset>


      <fieldset>
        <legend style="text-align: left;">Elementos</legend>

        <table class="custom-table">
          <thead>
          <tr>
            <th>Tipo elemento</th>
            <th>Elemento</th>
            <th>Hora inicio programada</th>
            <th>Hora inicio</th>
            <th>Hora entrega</th>
            <th>Hora devolución</th>
            <th>Hora maniobra</th>
            <th>Hora fin</th>
            <th>Hora fin programada</th>
            <th>Comentario</th>
          </tr>
          </thead>
          <tbody *ngIf="!dataConsigna?.lista_elemento">
          <tr>
            <td colspan="10">No hay registros...</td>
          </tr>
          </tbody>
          <tbody *ngIf="dataConsigna?.lista_elemento?.length > 0">
          <tr *ngFor="let value of dataConsigna?.lista_elemento">
            <td>{{value?.elemento?.tipo_elemento?.nombre}}</td>
            <td>{{value?.elemento?.nombre}}</td>
            <td>{{value?.hora_inicio_prog}}</td>
            <td>
              <app-date-time-picker
                [style]="'width: 100px;'"
                [label]="'label'"
                [value]="ex"
                [name]="'name'"
                [messages]="'messagges'"
                [required]="true"
                (valueChange)="setData('name', $event);">
              </app-date-time-picker>
            </td>
            <td>
              <app-date-time-picker
                [style]="'width: 100px;'"
                [label]="'label'"
                [value]="ex"
                [name]="'name'"
                [messages]="'messagges'"
                [required]="true"
                (valueChange)="setData('name', $event);">
              </app-date-time-picker>
            </td>
            <td>
              <app-date-time-picker
                [style]="'width: 100px;'"
                [label]="'label'"
                [value]="ex"
                [name]="'name'"
                [messages]="'messagges'"
                [required]="true"
                (valueChange)="setData('name', $event);">
              </app-date-time-picker>
            </td>
            <td>
              <app-date-time-picker
                [style]="'width: 100px;'"
                [label]="'label'"
                [value]="ex"
                [name]="'name'"
                [messages]="'messagges'"
                [required]="true"
                (valueChange)="setData('name', $event);">
              </app-date-time-picker>
            </td>
            <td>
              <app-date-time-picker
                [style]="'width: 100px;'"
                [label]="'label'"
                [value]="ex"
                [name]="'name'"
                [messages]="'messagges'"
                [required]="true"
                (valueChange)="setData('name', $event);">
              </app-date-time-picker>
            </td>
            <td>{{value?.hora_final_prog}}</td>
            <td>
              <app-input-text-area
                class="input"
                [required]="true"
                [label]="'label'"
                [value]="ex"
                [name]="'name'"
                [messages]="'messages'"
                (valueChange)="setData('name', $event)">
              </app-input-text-area>
            </td>
          </tr>
          </tbody>
        </table>

      </fieldset>


      <div style="text-align: center;">
        <button (click)="guardar()" mat-raised-button color="accent" class="button"
                style="color: #FFFFFF; margin: 5px;">
          GUARDAR
        </button>
        <button (click)="cancel()" mat-raised-button color="accent" class="button" style="color: #FFFFFF; margin: 5px;">
          CANCELAR
        </button>
      </div>


    </mat-card-content>
  </mat-card>
</div>
