<div style="min-height: 520px;">
  <mat-card class="container">
    <mat-card-content>
      <h1>Comunicados de prensa</h1>

      <fieldset>
        <legend style="text-align: left;">Parámetros de búsqueda</legend>

        <app-input-text
          class="input"
          (keyup.enter)="search()"
          [name]="form.numeroConsigna.name"
          [value]="form.numeroConsigna.value"
          [label]="form.numeroConsigna.label"
          [messages]="form.numeroConsigna.messages"
          (valueChange)="setData(form.numeroConsigna.name, $event)"
          [upperCase]="true"
          [style]="'width: 200px'"
        ></app-input-text>

        <app-datepicker
          [style]="'padding: 5px;'"
          [label]="form.fechaInicio.label"
          [value]="form.fechaInicio.value"
          [name]="form.fechaInicio.name"
          [messages]="form.fechaInicio.messages"
          [id]="form.fechaInicio.name"
          (valueChange)="setData(form.fechaInicio.name, $event)"
        ></app-datepicker>

        <app-datepicker
          [style]="'padding: 5px;'"
          [label]="form.fechaFin.label"
          [value]="form.fechaFin.value"
          [name]="form.fechaFin.name"
          [messages]="form.fechaFin.messages"
          [id]="form.fechaFin.name"
          (valueChange)="setData(form.fechaFin.name, $event)"
        ></app-datepicker>

        <button (click)="search()"
                mat-mini-fab color="accent"
                style="margin-left: 20px;" matTooltip="Consultar">
          <mat-icon style="color: #FFFFFF">search</mat-icon>
        </button>

        <button (click)="cleanFields()"
                mat-mini-fab color="accent"
                style="margin-left: 10px;" matTooltip="Limpiar">
          <mat-icon style="color: #FFFFFF">brush</mat-icon>
        </button>

      </fieldset>

    </mat-card-content>
  </mat-card>

  <div style="padding: 10px;">
    <app-comunicado-prensa-list [data]="data" (refresh)="search()"></app-comunicado-prensa-list>
  </div>

  <button mat-fab color="accent"
          [routerLink]="['/comunicado-prensa/new']"
          matTooltip="Nuevo comunicado de prensa"
          class="custom-float-button">
    <mat-icon style="color: #FFFFFF;">add</mat-icon>
  </button>

</div>
